body {
  padding: 30px;
}

.edit-wrapper input {
  border: none;
  width: 200px;
}
.index-wrapper {
  padding: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.add-btn-wrapper {
  margin-top: 30px !important;
}

.input {
  padding: 10px;
}

.list-cupcake {
  display: flex;
  flex-direction: row;
}
.delete-btn {
  border: none;
}
.body-wrapper {
  display: flex;
  justify-content: center;
}
.edit-wrapper {
  width: 280px;
  background-color: rgb(216, 211, 211);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.second-input {
  margin-top: 25px;
}
